*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit';
}
html, body {
    height: 100%;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image:  linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(static/3.jpeg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 300px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #73908d;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: aliceblue;
}
.content h1 {
    font-weight: 600;
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    line-height: 25px;
    font-size: 25px;
}

.custom-button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 45px;
    font-weight: bold;
    border: 2px solid #73908d;
    background: transparent;
    color: aliceblue;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.custom-button::before {
    content: ''; 
    background: #73908d;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.custom-button:hover::before {
    width: 100%;
}
.custom-button:hover {
    border: none;
}
.modal-header,
.modal-footer {
    border: none;
}
.modal-dialog{
    max-width: 1000px;
}
.modal-content {
    height:600px !important;
}
.modal-image-section {
    text-align: center;
    padding: 0;
  }
.modal-image-section img {
    width: 100%; 
    border-radius: 10px 0 0 10px;
}

.interior {
    height: 94.4%; 
}

.blueprint {
    height: 100%; 
}
.modal-content-img{
    width: 67%;
}



.modal-content-img-border-radius{
    border-radius: 10px 0 0 10px;
}
.modal-content-border-radius{
    border-radius: 0 10px 10px 0;
}

  .logomodal {
    width: 140px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
    position: absolute;
    top: 10px; /* Adjust as needed for vertical positioning */
    left: 10px; /* Adjust as needed for horizontal positioning */
    margin: 30px 50px;
  }

  .header-sign-in-label{
    position: absolute;
    top: 50px; 
    left: 380px; 
    font-size: 11px;
    color: #656565;
    font-weight: 300;
  }


  .dim-text{
    color: rgb(185, 179, 179);
    font-size: 13px;
    position: relative;
  }

 .modal-body .form-group, .login-h3, button{
    margin-left: 70px;
    margin-bottom: 10px;
 }
 .login-input{
    width: 80%;
    margin: 5px 0;
    color:#6d6f6e
 }
 .login-input::placeholder {
    color: rgb(185, 179, 179);
    font-size: small;
    font-weight: 300;
  }
  .login-input:focus {
    border: 1px solid rgb(55, 73, 175);
  }
  .login-label{
    color:#656565
  }
  .btn-submit {
    background-color:#6e9692;
    width: 68%;
    color: aliceblue;
    margin-top: 14px;
  }
  .btn-submit:hover {
    background-color:#507471;
    color: aliceblue;
  }

  .password-form-group{
    width: 80%;
    margin: 5px 0;
    color:#6d6f6e;
    position: relative;
  }

  .password-form-group input {
    color:#6d6f6e;
    font-size: small;
    font-weight: 400;
    width: 100%;
  }

  .password-form-group input::placeholder {
    color: rgb(185, 179, 179);
    font-size: small;
    font-weight: 300;
  }

  .password-form-group img {
    position: absolute;
    right: 15px; 
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.text-danger{
    font-size: small;
    font-weight: 400;
    margin-right: 20%;
    text-align: right;
}

.login-form-group{
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute items evenly, pushing them to the sides */
}

.error-border {
    border: 1px solid #ab0606; /* Red border color */
}

/* Remove the red border when the error is resolved */
.error-border.valid {
    border: 1px solid #10913f; /* Default border color */
}
  